@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#judul{
    font-size: 22px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-top: 3rem;
}
.container{
    margin-top: 7rem;
}
.card{
    margin: auto;
    border-radius: 15px;
}
.form-content {
    background: white;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-family: 'Poppins',
    sans-serif;
}
.btn{
    width: 100%;
    border-radius: 15px;
}
p{
font-size: 12px;
padding-top: 7px;
text-align: center;
font-family: 'Poppins',
sans-serif;
}
a:link{
    text-decoration: none;
}