@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --body-color: #e4e9f7;
    --nav-color: #fff;
    --side-nav: #97FFF3;
    --text-color: #000000;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}
body{
    height: 100vh;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toogle{
    display: none;
}

.nav-bar .nav-link{
    display: flex;
    align-items: center;
}
.nav-bar .nav-link li{
    margin: 0 5px;
    list-style: none;
}
.nav-link li a{
    position:relative;
    font-size: 17px;
    font-weight: 400;
    color:var(--text-color);
    opacity: 0.5;
    text-decoration: none;
    padding: 10px;
}
.nav-link .logo a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-link li:hover a::before{
    opacity: 1;
}
.searchToogle{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: center;
    margin: 0 5px;
}
.searchToogle i{
    position: absolute;
    color:var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.searchToogle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToogle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToogle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchBox{
    position:relative;
}
.searchBox .search-field{
    position:absolute;
    bottom: -70px;
    left: -185px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color:var(--nav-color);
    padding: 3px;
    border: 2px solid var(--search-text);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
}
.searchToogle.active ~ .search-field{
    opacity: 1;
    pointer-events: auto;
}
.search-field::before{
    content: '';
    position: absolute;
    left: 202px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--text-color);
    transform: rotate(-45deg);
    z-index: -1;
}
.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color:var(--text-color);
}
.search-field i{
    position: absolute;
    color: var(--text-color);
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}
@media (max-width: 790px) {

    nav .nav-bar .sidebarOpen{
    display: block;
    }
    .menu{
        position: fixed;
        width: 320px;
        height: 500px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #000000;
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toogle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toogle .sidebarClose{
        color: var(--text-color);
        font-size: 25px;
        cursor: pointer;
    }
    .nav-bar .nav-link{
        flex-direction: column;
        padding-top: 60px;
    }
    .nav-link li a{
        display: block;
        margin-top: 20px;
    }
}
.usPengarang i.user{
    font-size: 200px;
}
.container-fluid{
    background-image: url(../img/wave3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.swiper {
        width: 90%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 70px;
        opacity: 0.5;
        border-radius: 15px;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }    
.component-book {
    margin-top: 20px;
    padding: 1rem;
}

.component-book .book-thumbnail {
    width: 85%;
    height: 165px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.component-book .book-thumbnail .book-image {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
    opacity: 0.5;
}

.component-book .book-thumbnail .book-image:hover {
    transform: scale(1.1);
}

.component-book .book-thumbnail .book-image:focus {
    transform: scale(1.1);
}

.component-book .book-text {
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
    color: #0c0d36;
    text-align: center;
    margin-bottom: 1.5rem;
}

.component-book:link {
    text-decoration: none;
}
.action{
    position: fixed;
    top: 15px;
    right: 30px;
}
.action .profile{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.action .profile img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu2{
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu2.active{
    visibility:visible;
    opacity: 1;
}
.action .menu2::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu2 h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}
.action .menu2 h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .menu2 ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}
.action .menu2 ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu2 ul li:hover img{
    opacity: 1;
}
.action .menu2 ul li a{
    display:inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu2 ul li:hover a{
    color: blue;
}